<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cst -->
      <package
            uri="http://www.example.org/cst"
            class="cst.CstPackage"
            genModel="model/cst.genmodel"/>
   </extension>

</plugin>
