<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VarAddLang -->
      <package
            uri="http://varadd.varaddlang/exprconcern/"
            class="varadd.varaddlang.exprconcern.ExprconcernPackage"
            genModel="model/VarAddLang.genmodel"/>
   </extension>

</plugin>
